body {
    background: yellow;
}
title { 
    text-align: center;
}
h1 {
    text-align: center;
}
body > h2 {
    text-align: center;
}
body > p {
    text-align: center;
    margin-left: 100px;
    margin-right: 400px;
}